# Imports

In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
DATA_PATH = "../data"

In [3]:
df_train = pd.read_csv(f"{DATA_PATH}/train.csv")
df_test = pd.read_csv(f"{DATA_PATH}/test.csv")

# Pre processing

In [4]:
df_train.head()

,Id,Location,Weekly Cases,Year,Weekly Cases per Million,Weekly Deaths,Weekly Deaths per Million,Total Vaccinations,People Vaccinated,People Fully Vaccinated,Total Boosters,Daily Vaccinations,Total Vaccinations per Hundred,People Vaccinated per Hundred,People Fully Vaccinated per Hundred,Total Boosters per Hundred,Daily Vaccinations per Hundred,Daily People Vaccinated,Daily People Vaccinated per Hundred,Next Week's Deaths
0,911530868,World,2372.0,2020,0.300,65.0,0.008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,344.0
1,807936902,World,5023.0,2020,0.635,114.0,0.014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361.0
2,773590408,World,5612.0,2020,0.710,116.0,0.015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,431.0
3,130466459,World,7580.0,2020,0.958,153.0,0.019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,463.0
4,544040446,World,8983.0,2020,1.136,187.0,0.024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,506.0

In [5]:
df_test.head()

,Id,Location,Weekly Cases,Year,Weekly Cases per Million,Weekly Deaths,Weekly Deaths per Million,Total Vaccinations,People Vaccinated,People Fully Vaccinated,Total Boosters,Daily Vaccinations,Total Vaccinations per Hundred,People Vaccinated per Hundred,People Fully Vaccinated per Hundred,Total Boosters per Hundred,Daily Vaccinations per Hundred,Daily People Vaccinated,Daily People Vaccinated per Hundred
0,719557359,Monaco,185.0,2021,5042.796,0.0,0.00,NaN,NaN,NaN,NaN,158.0,NaN,NaN,NaN,NaN,4307.0,23.0,0.063
1,507527289,Liechtenstein,78.0,2020,1998.002,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,821551528,Albania,230.0,2022,80.569,1.0,0.35,NaN,NaN,NaN,NaN,1462.0,NaN,NaN,NaN,NaN,512.0,391.0,0.014
3,696602016,Niger,14.0,2022,0.554,1.0,0.04,NaN,NaN,NaN,NaN,72018.0,NaN,NaN,NaN,NaN,2852.0,60442.0,0.239
4,680387432,French Polynesia,1033.0,2022,3397.669,0.0,0.00,366984.0,186177.0,180807.0,NaN,22.0,120.71,61.24,59.47,NaN,72.0,22.0,0.007

## Column type definition

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129156 entries, 0 to 129155
Data columns (total 20 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Id                                   129156 non-null  int64
 1   Location                             129156 non-null  object
 2   Weekly Cases                         128943 non-null  float64
 3   Year                                 129156 non-null  int64
 4   Weekly Cases per Million             128288 non-null  float64
 5   Weekly Deaths                        127898 non-null  float64
 6   Weekly Deaths per Million            127247 non-null  float64
 7   Total Vaccinations                   40270 non-null   float64
 8   People Vaccinated                    38429 non-null   float64
 9   People Fully Vaccinated              36574 non-null   float64
 10  Total Boosters                       19847 non-null   float64
 11  Daily Vaccinations                   77840 non-null   float64
 12  Total Vaccinations per Hundred       40270 non-null   float64
 13  People Vaccinated per Hundred        38429 non-null   float64
 14  People Fully Vaccinated per Hundred  36574 non-null   float64
 15  Total Boosters per Hundred           19847 non-null   float64
 16  Daily Vaccinations per Hundred       77840 non-null   float64
 17  Daily People Vaccinated              77391 non-null   float64
 18  Daily People Vaccinated per Hundred  77391 non-null   float64
 19  Next Week's Deaths                   129156 non-null  float64
dtypes: float64(17), int64(2), object(1)
memory usage: 19.7+ MB

In [7]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43052 entries, 0 to 43051
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Id                                   43052 non-null  int64
 1   Location                             43052 non-null  object
 2   Weekly Cases                         42979 non-null  float64
 3   Year                                 43052 non-null  int64
 4   Weekly Cases per Million             42768 non-null  float64
 5   Weekly Deaths                        42603 non-null  float64
 6   Weekly Deaths per Million            42395 non-null  float64
 7   Total Vaccinations                   13409 non-null  float64
 8   People Vaccinated                    12822 non-null  float64
 9   People Fully Vaccinated              12259 non-null  float64
 10  Total Boosters                       6555 non-null   float64
 11  Daily Vaccinations                   25900 non-null  float64
 12  Total Vaccinations per Hundred       13409 non-null  float64
 13  People Vaccinated per Hundred        12822 non-null  float64
 14  People Fully Vaccinated per Hundred  12259 non-null  float64
 15  Total Boosters per Hundred           6555 non-null   float64
 16  Daily Vaccinations per Hundred       25900 non-null  float64
 17  Daily People Vaccinated              25766 non-null  float64
 18  Daily People Vaccinated per Hundred  25766 non-null  float64
dtypes: float64(16), int64(2), object(1)
memory usage: 6.2+ MB

The column "Location" is type object, changing it to type category. Also, the columns "Weekly Cases", "Weekly Deaths", "Total Vaccinations", "People Vaccinated", "People Fully Vaccinated", "Total Boosters", "Daily Vaccinations", "Daily People Vaccinated" should be type int but we cannot convert it since there are null values on them.

In [8]:
df_train["Location"] = df_train["Location"].astype('category')
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129156 entries, 0 to 129155
Data columns (total 20 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Id                                   129156 non-null  int64
 1   Location                             129156 non-null  category
 2   Weekly Cases                         128943 non-null  float64
 3   Year                                 129156 non-null  int64
 4   Weekly Cases per Million             128288 non-null  float64
 5   Weekly Deaths                        127898 non-null  float64
 6   Weekly Deaths per Million            127247 non-null  float64
 7   Total Vaccinations                   40270 non-null   float64
 8   People Vaccinated                    38429 non-null   float64
 9   People Fully Vaccinated              36574 non-null   float64
 10  Total Boosters                       19847 non-null   float64
 11  Daily Vaccinations                   77840 non-null   float64
 12  Total Vaccinations per Hundred       40270 non-null   float64
 13  People Vaccinated per Hundred        38429 non-null   float64
 14  People Fully Vaccinated per Hundred  36574 non-null   float64
 15  Total Boosters per Hundred           19847 non-null   float64
 16  Daily Vaccinations per Hundred       77840 non-null   float64
 17  Daily People Vaccinated              77391 non-null   float64
 18  Daily People Vaccinated per Hundred  77391 non-null   float64
 19  Next Week's Deaths                   129156 non-null  float64
dtypes: category(1), float64(17), int64(2)
memory usage: 19.0 MB

In [9]:
df_test["Location"] = df_test["Location"].astype('category')
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43052 entries, 0 to 43051
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Id                                   43052 non-null  int64
 1   Location                             43052 non-null  category
 2   Weekly Cases                         42979 non-null  float64
 3   Year                                 43052 non-null  int64
 4   Weekly Cases per Million             42768 non-null  float64
 5   Weekly Deaths                        42603 non-null  float64
 6   Weekly Deaths per Million            42395 non-null  float64
 7   Total Vaccinations                   13409 non-null  float64
 8   People Vaccinated                    12822 non-null  float64
 9   People Fully Vaccinated              12259 non-null  float64
 10  Total Boosters                       6555 non-null   float64
 11  Daily Vaccinations                   25900 non-null  float64
 12  Total Vaccinations per Hundred       13409 non-null  float64
 13  People Vaccinated per Hundred        12822 non-null  float64
 14  People Fully Vaccinated per Hundred  12259 non-null  float64
 15  Total Boosters per Hundred           6555 non-null   float64
 16  Daily Vaccinations per Hundred       25900 non-null  float64
 17  Daily People Vaccinated              25766 non-null  float64
 18  Daily People Vaccinated per Hundred  25766 non-null  float64
dtypes: category(1), float64(16), int64(2)
memory usage: 6.0 MB

## Treating missing data

In [16]:
df_train.loc[df_train["Weekly Deaths"].isna()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Id                                   0 non-null      int64
 1   Location                             0 non-null      category
 2   Weekly Cases                         0 non-null      float64
 3   Year                                 0 non-null      int64
 4   Weekly Cases per Million             0 non-null      float64
 5   Weekly Deaths                        0 non-null      float64
 6   Weekly Deaths per Million            0 non-null      float64
 7   Total Vaccinations                   0 non-null      float64
 8   People Vaccinated                    0 non-null      float64
 9   People Fully Vaccinated              0 non-null      float64
 10  Total Boosters                       0 non-null      float64
 11  Daily Vaccinations                   0 non-null      float64
 12  Total Vaccinations per Hundred       0 non-null      float64
 13  People Vaccinated per Hundred        0 non-null      float64
 14  People Fully Vaccinated per Hundred  0 non-null      float64
 15  Total Boosters per Hundred           0 non-null      float64
 16  Daily Vaccinations per Hundred       0 non-null      float64
 17  Daily People Vaccinated              0 non-null      float64
 18  Daily People Vaccinated per Hundred  0 non-null      float64
 19  Next Week's Deaths                   0 non-null      float64
dtypes: category(1), float64(17), int64(2)
memory usage: 9.9 KB

In [15]:
df_test.loc[df_test["Weekly Deaths"].isna()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Id                                   0 non-null      int64
 1   Location                             0 non-null      category
 2   Weekly Cases                         0 non-null      float64
 3   Year                                 0 non-null      int64
 4   Weekly Cases per Million             0 non-null      float64
 5   Weekly Deaths                        0 non-null      float64
 6   Weekly Deaths per Million            0 non-null      float64
 7   Total Vaccinations                   0 non-null      float64
 8   People Vaccinated                    0 non-null      float64
 9   People Fully Vaccinated              0 non-null      float64
 10  Total Boosters                       0 non-null      float64
 11  Daily Vaccinations                   0 non-null      float64
 12  Total Vaccinations per Hundred       0 non-null      float64
 13  People Vaccinated per Hundred        0 non-null      float64
 14  People Fully Vaccinated per Hundred  0 non-null      float64
 15  Total Boosters per Hundred           0 non-null      float64
 16  Daily Vaccinations per Hundred       0 non-null      float64
 17  Daily People Vaccinated              0 non-null      float64
 18  Daily People Vaccinated per Hundred  0 non-null      float64
dtypes: category(1), float64(16), int64(2)
memory usage: 9.9 KB

Removing occurences of null values on columns Weekly Deaths and Weekly Deaths per Million.

In [13]:
df_train.dropna(subset=["Weekly Deaths", "Weekly Deaths per Million"], inplace=True)
df_test.dropna(subset=["Weekly Deaths", "Weekly Deaths per Million"], inplace=True)

In [14]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127247 entries, 0 to 129155
Data columns (total 20 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Id                                   127247 non-null  int64
 1   Location                             127247 non-null  category
 2   Weekly Cases                         127148 non-null  float64
 3   Year                                 127247 non-null  int64
 4   Weekly Cases per Million             127148 non-null  float64
 5   Weekly Deaths                        127247 non-null  float64
 6   Weekly Deaths per Million            127247 non-null  float64
 7   Total Vaccinations                   40203 non-null   float64
 8   People Vaccinated                    38364 non-null   float64
 9   People Fully Vaccinated              36511 non-null   float64
 10  Total Boosters                       19809 non-null   float64
 11  Daily Vaccinations                   77692 non-null   float64
 12  Total Vaccinations per Hundred       40203 non-null   float64
 13  People Vaccinated per Hundred        38364 non-null   float64
 14  People Fully Vaccinated per Hundred  36511 non-null   float64
 15  Total Boosters per Hundred           19809 non-null   float64
 16  Daily Vaccinations per Hundred       77692 non-null   float64
 17  Daily People Vaccinated              77243 non-null   float64
 18  Daily People Vaccinated per Hundred  77243 non-null   float64
 19  Next Week's Deaths                   127247 non-null  float64
dtypes: category(1), float64(17), int64(2)
memory usage: 19.7 MB

In [17]:
df_train.loc[df_train["Weekly Cases"].isna()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99 entries, 1147 to 124248
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Id                                   99 non-null     int64
 1   Location                             99 non-null     category
 2   Weekly Cases                         0 non-null      float64
 3   Year                                 99 non-null     int64
 4   Weekly Cases per Million             0 non-null      float64
 5   Weekly Deaths                        99 non-null     float64
 6   Weekly Deaths per Million            99 non-null     float64
 7   Total Vaccinations                   28 non-null     float64
 8   People Vaccinated                    27 non-null     float64
 9   People Fully Vaccinated              28 non-null     float64
 10  Total Boosters                       16 non-null     float64
 11  Daily Vaccinations                   51 non-null     float64
 12  Total Vaccinations per Hundred       28 non-null     float64
 13  People Vaccinated per Hundred        27 non-null     float64
 14  People Fully Vaccinated per Hundred  28 non-null     float64
 15  Total Boosters per Hundred           16 non-null     float64
 16  Daily Vaccinations per Hundred       51 non-null     float64
 17  Daily People Vaccinated              51 non-null     float64
 18  Daily People Vaccinated per Hundred  51 non-null     float64
 19  Next Week's Deaths                   99 non-null     float64
dtypes: category(1), float64(17), int64(2)
memory usage: 25.5 KB

In [18]:
df_test.loc[df_test["Weekly Cases"].isna()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 1428 to 39542
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Id                                   36 non-null     int64
 1   Location                             36 non-null     category
 2   Weekly Cases                         0 non-null      float64
 3   Year                                 36 non-null     int64
 4   Weekly Cases per Million             0 non-null      float64
 5   Weekly Deaths                        36 non-null     float64
 6   Weekly Deaths per Million            36 non-null     float64
 7   Total Vaccinations                   9 non-null      float64
 8   People Vaccinated                    10 non-null     float64
 9   People Fully Vaccinated              9 non-null      float64
 10  Total Boosters                       6 non-null      float64
 11  Daily Vaccinations                   17 non-null     float64
 12  Total Vaccinations per Hundred       9 non-null      float64
 13  People Vaccinated per Hundred        10 non-null     float64
 14  People Fully Vaccinated per Hundred  9 non-null      float64
 15  Total Boosters per Hundred           6 non-null      float64
 16  Daily Vaccinations per Hundred       17 non-null     float64
 17  Daily People Vaccinated              17 non-null     float64
 18  Daily People Vaccinated per Hundred  17 non-null     float64
dtypes: category(1), float64(16), int64(2)
memory usage: 15.3 KB

Removing occurences of null values on columns Weekly Cases and Weekly Cases per Million.

In [19]:
df_train.dropna(subset=["Weekly Cases", "Weekly Cases per Million"], inplace=True)
df_test.dropna(subset=["Weekly Cases", "Weekly Cases per Million"], inplace=True)

In [20]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127148 entries, 0 to 129155
Data columns (total 20 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Id                                   127148 non-null  int64
 1   Location                             127148 non-null  category
 2   Weekly Cases                         127148 non-null  float64
 3   Year                                 127148 non-null  int64
 4   Weekly Cases per Million             127148 non-null  float64
 5   Weekly Deaths                        127148 non-null  float64
 6   Weekly Deaths per Million            127148 non-null  float64
 7   Total Vaccinations                   40175 non-null   float64
 8   People Vaccinated                    38337 non-null   float64
 9   People Fully Vaccinated              36483 non-null   float64
 10  Total Boosters                       19793 non-null   float64
 11  Daily Vaccinations                   77641 non-null   float64
 12  Total Vaccinations per Hundred       40175 non-null   float64
 13  People Vaccinated per Hundred        38337 non-null   float64
 14  People Fully Vaccinated per Hundred  36483 non-null   float64
 15  Total Boosters per Hundred           19793 non-null   float64
 16  Daily Vaccinations per Hundred       77641 non-null   float64
 17  Daily People Vaccinated              77192 non-null   float64
 18  Daily People Vaccinated per Hundred  77192 non-null   float64
 19  Next Week's Deaths                   127148 non-null  float64
dtypes: category(1), float64(17), int64(2)
memory usage: 19.7 MB

## Normalization and discretization

Creating a new feature related to the vaccine existence.

In [31]:
df_train["After Vaccine"] = df_train["People Vaccinated"].apply(lambda x: False if pd.isna(x) else True)
df_train

,Id,Location,Weekly Cases,Year,Weekly Cases per Million,Weekly Deaths,Weekly Deaths per Million,Total Vaccinations,People Vaccinated,People Fully Vaccinated,...,Daily Vaccinations,Total Vaccinations per Hundred,People Vaccinated per Hundred,People Fully Vaccinated per Hundred,Total Boosters per Hundred,Daily Vaccinations per Hundred,Daily People Vaccinated,Daily People Vaccinated per Hundred,Next Week's Deaths,After Vaccine
0,911530868,World,2372.0,2020,0.300,65.0,0.008,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,344.0,False
1,807936902,World,5023.0,2020,0.635,114.0,0.014,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361.0,False
2,773590408,World,5612.0,2020,0.710,116.0,0.015,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,431.0,False
3,130466459,World,7580.0,2020,0.958,153.0,0.019,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,463.0,False
4,544040446,World,8983.0,2020,1.136,187.0,0.024,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,506.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129151,541829605,Zimbabwe,464.0,2022,29.012,13.0,0.813,11949993.0,6297324.0,4601845.0,...,5665.0,74.72,39.37,28.77,6.57,354.0,1427.0,0.009,9.0,True
129152,969939474,Zimbabwe,471.0,2022,29.449,12.0,0.750,11958771.0,6299348.0,4605821.0,...,5295.0,74.77,39.39,28.80,6.59,331.0,1362.0,0.009,7.0,True
129153,667902340,Zimbabwe,450.0,2022,28.136,13.0,0.813,NaN,NaN,NaN,...,5316.0,NaN,NaN,NaN,NaN,332.0,1483.0,0.009,5.0,False
129154,961193720,Zimbabwe,277.0,2022,17.320,6.0,0.375,11974313.0,6305470.0,4611113.0,...,5358.0,74.87,39.43,28.83,6.61,335.0,1633.0,0.010,7.0,True
129155,832612563,Zimbabwe,277.0,2022,17.320,6.0,0.375,11984914.0,6310089.0,4614738.0,...,6190.0,74.94,39.45,28.85,6.63,387.0,2102.0,0.013,8.0,True

In [32]:
df_train["After Vaccine"].unique()

array([False,  True])

## Data Cleaning

# Statistics

# Hypotheses test